# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [28]:
csv_file = pd.read_csv('city_data.csv')
Vacation_df = pd.DataFrame(csv_file)
Vacation_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Jamestown,90,US,1580230714,69,42.10,-79.24,34.00,8.05
1,1,Ushuaia,75,AR,1580230861,81,-54.80,-68.30,48.20,27.51
2,2,Soto la Marina,3,MX,1580230948,57,23.77,-98.22,78.75,8.55
3,3,Laizhou,100,CN,1580230948,95,37.18,119.93,31.26,10.18
4,4,Sao Joao da Barra,20,BR,1580230949,59,-21.64,-41.05,89.60,9.17
...,...,...,...,...,...,...,...,...,...,...
566,566,Paidha,100,UG,1580231110,72,2.42,30.99,65.66,2.08
567,567,Miracema do Tocantins,100,BR,1580231111,89,-9.56,-48.40,78.30,6.15
568,568,Belem,75,BR,1580231111,94,-1.46,-48.50,75.20,16.11
569,569,Jumla,100,NP,1580231111,88,29.27,82.18,27.07,3.96
570,570,Avera,1,US,1580231112,54,33.19,-82.53,57.99,4.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [29]:
gmaps.configure(api_key=g_key)

location = Vacation_df[["Lat", "Lng"]]
Humidity = Vacation_df["Humidity"].astype(float)
Humidity = Humidity.fillna(0)

In [30]:
fig = gmaps.figure()
Heat_layer = gmaps.heatmap_layer(location, weights=Humidity, dissipating=False, max_intensity=5, point_radius=1)
fig.add_layer(Heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [31]:
Criteria_df = Vacation_df.loc[(Vacation_df['Lat']>=0) & (Vacation_df['Lng']>=0) & (Vacation_df['Humidity']>=90)]
Criteria_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
3,3,Laizhou,100,CN,1580230948,95,37.18,119.93,31.26,10.18
15,15,Bilibino,100,RU,1580230951,96,68.05,166.44,2.82,1.59
26,26,Mikhaylovka,100,RU,1580230954,90,50.06,43.24,35.01,11.81
33,33,Salym,99,RU,1580230955,97,60.06,71.48,-10.19,6.53
41,41,Saskylakh,38,RU,1580230957,96,71.92,114.08,-18.58,8.16
...,...,...,...,...,...,...,...,...,...,...
517,517,Usinsk,20,RU,1580231097,98,65.99,57.53,-22.79,6.98
518,518,Beringovskiy,98,RU,1580231097,99,63.05,179.32,-1.39,8.03
524,524,Tabuk,40,PH,1580231100,93,17.42,121.44,65.64,5.48
536,536,Norrtaelje,90,SE,1580231103,93,59.76,18.70,39.20,13.87
547,547,Kuzhenkino,98,RU,1580231106,96,57.76,33.95,24.19,6.46

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [32]:
hotel_name = []

target_cordination = (Criteria_df['Lat'][index],Criteria_df['Lng'][index])
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

params = {
'location': target_cordination,
'radius': target_radius,
'type': target_type,
'keyword': target_search,
'key': g_key
}

geo_code = requests.get(query_url, params=params).json()

for index, city in Criteria_df.iterrows():

    lat = city["Lat"]
    lng = city["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    query_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    name_address = requests.get(query_url, params=params)
    
    name_address = name_address.json()
 
    try:
        hotel_name.append(name_address['results'][0]['name'])
    except:
        hotel_name.append(np.nan)

In [33]:
Criteria_df['Hotel Name']= hotel_name
Criteria_df

C:\Users\sa_mo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
3,3,Laizhou,100,CN,1580230948,95,37.18,119.93,31.26,10.18,Baidu International Hotel
15,15,Bilibino,100,RU,1580230951,96,68.05,166.44,2.82,1.59,Profilaktoriy Baes
26,26,Mikhaylovka,100,RU,1580230954,90,50.06,43.24,35.01,11.81,Mini-hotel Meduza
33,33,Salym,99,RU,1580230955,97,60.06,71.48,-10.19,6.53,Gostinitsa V Salyme
41,41,Saskylakh,38,RU,1580230957,96,71.92,114.08,-18.58,8.16,NaN
...,...,...,...,...,...,...,...,...,...,...,...
517,517,Usinsk,20,RU,1580231097,98,65.99,57.53,-22.79,6.98,"Hotel ""Orbita"""
518,518,Beringovskiy,98,RU,1580231097,99,63.05,179.32,-1.39,8.03,NaN
524,524,Tabuk,40,PH,1580231100,93,17.42,121.44,65.64,5.48,Grand Zion Garden Resort Hotel
536,536,Norrtaelje,90,SE,1580231103,93,59.76,18.70,39.20,13.87,Hotell Roslagen
547,547,Kuzhenkino,98,RU,1580231106,96,57.76,33.95,24.19,6.46,NaN

In [34]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in Criteria_df.iterrows()]
locations = Criteria_df[["Lat", "Lng"]]

In [35]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig


# Display Map

Figure(layout=FigureLayout(height='420px'))